#tieude{
    font-size:50pt;
}

#gioithieupcc{
    font-family: 'Times New Roman'; 
    font-size: 20px;
}

#tongquan1{
    font-family: 'Times New Roman'; 
}

#tongquan2{
    font-family: 'Times New Roman'; 
}

#qlkh{
    font-size: 60px;
}

#thongtin{
    font-family: 'Times New Roman';
    font-size: 20px;
}

#hotenkh{
    font-family: 'Times New Roman';
    font-size: 18px;
}

#nhaplieu{
    font-family: 'Times New Roman';
    font-size: 18px;
}

#thuephong{
    font-family: 'Times New Roman';
    font-size: 18px;
}

#traphong{
    font-family: 'Times New Roman';
    font-size: 18px;
}

#cmnd{
    font-family: 'Times New Roman';
    font-size: 18px;
}

#sdt{
    font-family: 'Times New Roman';
    font-size: 18px;
}

#maphong{
    font-family: 'Times New Roman';
    font-size: 18px;
}

.fontchu{
    font-family: 'Times New Roman';
    font-size: 18px;
}
